---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.svelte";
---

<Header client:idle />
<Layout title="T&A Games">
  <main class="max-w-screen-md text-center p-2 font-serif flex-auto mx-auto">
    <p class="text-xl my-4">Taking games seriously since 2019</p>

    <div class="flex flex-col gap-2 items-center my-4 max-w-screen-md mx-auto">
      <a
        href="/emigration"
        class="btn font-publicSans cursor-pointer inline-flex flex-wrap gap-4 justify-center items-center shadow-sm hover:shadow-xl rounded-lg overflow-hidden"
      >
        <picture>
          <source
            srcset="/files/emigration/Emigration-Game-Logo.webp"
            type="image/webp"
          />
          <source
            srcset="/files/emigration/Emigration-Game-Logo.png"
            type="image/png"
          />
          <img
            src="/files/emigration/Emigration-Game-Logo.png"
            alt="Emigration Game Logo"
          />
        </picture>
        <p class="text-lg font-normal">
          Emigration: A board game about moving abroad
        </p>
      </a>
    </div>

    <div class="my-4">
      <p class="text-3xl">Contact</p>
      <p class="text-lg">feedback@tandagames.com</p>
    </div>
  </main>
</Layout>
